.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 16px;
}


.modal-style h2{
    text-align: center;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}


