.bg-ticket-detail {
  background: #ffffff;
}
.container {
  margin-top: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* background: #1e1e1e; */
}
.ticket--detail {
  margin-bottom: 10vh;
}
.ticket--info {
  color: white;
  margin-left: 0.5vw;
}

.ticket--price--block {
  margin-top: 5vh;
  color: white;
  padding: 5.125vh 2vh;
  background-color: #515151;
}
.Tag {
  margin-left: 2vh;
  margin-right: 2vh;
}
.ticket--price {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
.cta {
  display: flex;
}
.dropdown {
  margin-top: 1vh;
}
.ticket--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #27ae60;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: #fff;
  padding: 2vh 2vw;
  margin-left: 1vw;

  border-radius: 5px;
}
.ticket--btn:hover {
  opacity: 0.8;
}
.cart--icon {
  margin-right: 1vw;
}
.seller--link {
  text-decoration: none;
  color: #27ae60;
}
.ticket--desc {
  padding-bottom: 10vh;
}
.ticket--img--list {
  padding-top: 2vh;
  padding-left: 0.75vw;
}

.ticket--img--list .col-lg-3 {
  box-sizing: border-box;
  padding: 0;
  border-left: 2px solid #27ae60;
  border-right: 2px solid #27ae60;
}

.ticket--img {
  object-fit: contain;
  max-height: 100vh;
}

.ticket--title {
  margin-bottom: 5vh;
  color: #fff;
}
.ticket--item {
  margin: 2vh 1vw;
  padding: 2vh 1vw;
}

.ticket--list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
