body {
    background: #f7f7ff;
    margin-top: 150px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: .5rem !important;
}

.fixheight{
    height: 5px;
}

.avatar-img {
    transition: box-shadow 0.3s ease;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar-img:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-hover:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}